/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
/* Navigation Bar */
header {
    background-color: #4CAF50;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.head{
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

/* Plant Grid Styles */
.plant-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.plant-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.2s;
}

.plant-card:hover {
    transform: scale(1.05);
}

.plant-card img {
    width: 100%;
    border-radius: 8px;
}

.plant-card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.plant-price {
    color: #4CAF50;
    font-size: 18px;
    margin: 5px 0;
}

.plant-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.shop-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-btn:hover {
    background-color: #45a049;
}

/* Footer Section */


footer {
    background-color: white;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 0 15px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}



.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    text-align: center;

}

.footer-section button {
    padding: 10px;
    background-color: lightblue;
    border: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;

}

.footer-bottom p {
    color: #777;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .plant-grid {
        flex-direction: column;
        align-items: center;
    }
}